{{define "footer" }}

<div class="container"> 
    <div class="row">
        <div class="col text-center">
            <hr>
            <small class="text-muted">© 2025 My Company</small>
        </div>
    </div>
</div>
{{end}}